.hero_one {
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_one_wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 8%;
}

.welcome_message {
  color: white;
}

.heading {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
}

.subheading {
  font-size: 1.5rem;
  margin: 12px 0 30px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  line-height: 43px;
}

.start {
  background-color: #ff9300;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 20px 43px;
  font-size: 1.2rem;
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer;
}

.how_it_works {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.how_it_works_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 81px;
  padding-bottom: 91px;
}

.develop {
  color: white;
  font-size: 40px;
  line-height: 53px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.develop_img {
  margin-top: 100px;
}

.orange_text {
  color: #ff9300;
}

.features_container {
  padding: 96px 8% 30px;
}

.feature_wrapper {
  display: flex;
  margin-bottom: 107px;
  align-items: center;
}

.feature_img {
  width: 50%;
  height: auto;
  flex: 0 0 auto
}

.feature_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin-left: -70px;
  padding: 10% 60px 10% 72px;
  border: 1px solid black;
  background-color: white;
}

.feature_box.left {
  margin-left: 0;
  margin-right: -70px;
  z-index: 1;
}

.feature_box h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 2.8rem;
  line-height: 1.3;
}

.feature_box p {
  margin-bottom: 30px;
  font-size: 1.2rem;
  line-height: 32px;
}

.feature_link {
  color: #ff9300;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-decoration: underline;
  font-family: sans-serif;
}

.feature_3 {
  align-items: flex-start;
}

._70 {
  width: 70% !important;
}

.box_3 {
  margin-top: 57px;
  margin-left: -30%;
}

._60 {
  width: 60% !important;
  margin-top: 50px;
}

.right_margin {
  margin-left: 0;
  margin-right: -18%;
  z-index: 1;
}

.testimonials_container {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonials {
  padding-top: 50px;
  padding-bottom: 18%;
}

.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 8%;
}

.reviews {
  padding-top: 50px;
  padding-bottom: 18%;
}

.testimonials_heading {
  color: white;
  margin-top: 0;
  margin-bottom: 86px;
  line-height: 1.25;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
}

.testimonials_wrapper {
  position: relative;
  width: 860px;
  height: 426px;
}

.testimonial {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 347px;
  padding: 0 20px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #f8fcfd;
  box-sizing: border-box;
}

.testimonial1 {
  top: 14%;
}

.testimonial2 {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 470px;
}

.testimonial3 {
  left: 48px;
  top: auto;
  right: auto;
  bottom: 0%;
  width: 357px;
}

.testimonial4 {
  left: auto;
  top: auto;
  right: 0%;
  bottom: 27px;
  width: 390px;
}

.testimonial_text {
  font-size: 16px;
  line-height: 29px;
}

.testimonial_writer {
  line-height: 25px;
  font-weight: 400;
  text-align: right;
}

.get_started {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.get_started_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 151px 0;
}
.get_started_heading {
  color: white;
  margin-bottom: 15px;
  margin-top: 0;
  text-align: left;
  font-size: 2.7rem;
  line-height: 1.3;
  font-weight: 700;
}